/* Element Selectors */
h1{
    text-align: center;
    font-size:75px;
    margin-top: 20%;

}


p{
    text-align: center;
    font-size:28px;

}




/* Class Selectors */
.container{
    width:950px;
}

.time{
    font-size: 1.5rem;
    width: fit-content;
    position: fixed;
    left: 87%;
    top: 31px;
}

.start-btn{
    position: relative;
    left: 47%;
    background-color: blue;
    padding: 14px 29px;
    border-radius: 25px;
    border: solid black;
    color: white;
    font-size: 25px;
    width: fit-content;
}

.answer{
    background-color:lightblue;
}

/* ID Selectors */
#quiz-container{
    border: 10px solid black;
    border-radius: 25px;
    padding: 75px;
    margin-top: 20%;
    width: 960px;
    margin-left: 35px;
}

#questions{
    font-size:45px;
    font-weight: bold;
}

